@font-face {
  font-family: 'FedraSansPro-Book';
  src: url('FedraSansPro-Book.eot');
  src: url('FedraSansPro-Book.woff') format('woff'),
       url('FedraSansPro-Book.ttf') format('truetype'),
       url('FedraSansPro-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

